.transactions {
  display: flex;
  justify-content: center;
  padding: 2rem 0 6rem;
  .container {
    .form {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      flex-wrap: wrap;

      input[type="date"] {
        margin-right: 1rem;
      }
    }
  }
}
