.displayProduct {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  padding: 1rem;

  .details {
    display: flex;
    flex-wrap: wrap;
    div {
      margin: 0 1.5rem 0.5rem 0;
      .label {
        font-weight: bold;
        color: #f25287;
      }
    }
  }

  .colorAndSizes {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .colorAndSize {
      border: 1px solid rgb(199, 199, 199);
      border-radius: 5px;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .color {
        margin: 0 2rem 0.5rem 0;
      }

      .sizes {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        .size {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          padding: 0.25rem;
          min-width: 2rem;
          background-color: rgb(231, 231, 231);
          border-radius: 2px;
        }
      }
    }
  }
}
